
@keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes fadeIn {
  0%{
    -webkit-transform: scale(0.7);
  	-moz-transform: scale(0.7);
  	-ms-transform: scale(0.7);
  	transform: scale(0.7);
    opacity: 0;
  }
  100%{
    -webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	transform: scale(1);
  	opacity: 1;
  }
}

@keyframes blink {
  0% { color: red; border-color: red;}
  50% { color: #444444; border-color: #444444;}
  100% { color: red; border-color: red;}
}

@-webkit-keyframes blink {
  0% { color: red; border-color: red;}
  50% { color: #444444; border-color: #444444;}
  100% { color: red; border-color: red;}
}

@keyframes breathe {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -8%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
