@import url('https://fonts.googleapis.com/css?family=Raleway');

.root {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.logo {
  position: relative;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: breathe;
}

@keyframes breathe {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(0%, -4%);
  }
  75% {
    transform: translate(0%, 4%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
